# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Various settings
*.pbxuser
!default.pbxuser
xcuserdata/

## Other
*.xccheckout
*.xcuserstate
.DS_Store
